*{
    background-color: #050711;
    font-family:"inter";
    font-style: normal;
    margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
    height: 100vh;
    box-sizing: border-box;
}

main{
    display: flex;
    gap: 15%;
}

.logo{
   padding: 30px;
}

.text-area{
    margin-left: 150px;
    margin-bottom: 10px; 
    font-size: 32px; 
    text-transform: lowercase;
    height: 320px;
    width: 100%;
    border: transparent;
    color: #0A3871;
}

.seccion1{
    color: #0A3871;
}

.seccion2{
    height: 380px;
    width: 19%;
    background: white;
    border-radius: 38px;
    padding: 30px;
    margin-bottom: 15px;
}

.no-encontrado{
    font-size: 24px;
    margin-bottom: 10px;
    background: white;
    text-align: center;
    color: #343A40;
}

.ingrese-text{
    font-size: 16px;
    margin-bottom: 20px;
    background: white;
    text-align: center;
    font-weight: 400;
    color: #495057;
}

.mensaje{
    width: 100%;
    background-color: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
    border: transparent;
}

.info{
    margin-left: 150px;
    font-size: 12px;
    font-weight: 500;
    color: #495057;
    margin-bottom: 20px; 
    margin-left: 200px;
}

.botones{
    display:flex;
    align-self: center;
    margin-left: 150px;
    margin-bottom: 20px;
    width: 100%;
    gap: 10%;
}

.btn-encriptar{
    height: 67px;
    width: 328px;
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
    border: transparent;
}

.btn-desencriptar{
    height: 67px;
    width: 328px;
    color: #0A3871;
    background-color: #ccced6;
    border-radius: 24px;
    border: transparent;
}

.btn-copiar{
    height: 40px;
    width: 100%;
    color: #0A3871;
    background-color: #ccced6;
    border-radius: 20px;
    border: transparent;
}

footer{
    display: flex;
    align-self: center;
    height:37px
}

.pie-pag{
    width: 100%;
    text-align: right;
    font-size: small;
    font-style: italic;
    font-weight: 600;
    border: none;
    background-color: #ccced6;
    color: #0A3871;
    padding: 10px;
}