*{
    font-family:"inter";
    font-style: normal;
    margin: 0;
	padding: 0;
	font-size: 100%;
}

body{
    height: 100vh;
    box-sizing: border-box;
}

.logo{
   padding: 1.5%;
   margin-bottom: 2%;
   font-size: 2rem;
   font-family: "inter";
   font-style:italic;
   color: #6a6f74;
   display: flex;
   gap: 61%;
   align-items: center;
}

main{
    display: flex;
    gap: 15%;
    flex-direction: initial;
}

.colocar-texto{
    width: 50%;
}

.text-area{
    display: flex;
    margin-left: 20%;
    margin-bottom: 5%; 
    font-size: 2rem; 
    text-transform: lowercase;
    height: 320px;
    width: 100%;
    border: transparent;
    color: #0A3871;
}

.indicacion{
    padding: 0%;
    display: flex;
    margin-bottom: 2%;
}

.indicacion__texto{
    font-size: .75rem;
    font-weight: 500;
    color: #495057;
    margin-bottom: 2%; 
    margin-left: 1%;
}

.indicacion__signo{
    margin-bottom: 2%; 
    margin-left: 22%;
    height: 16px;
}

.botones{
    display:flex;
    align-self: center;
    margin-left: 20%;
    margin-bottom: 2%;
    width: 100%;
    gap: 10%;
}

.btn-encriptar{
    padding: 3%;
    width: 50%;
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
    border: transparent;
}

.btn-encriptar:hover{
        background-color: #ccced6;
        color: #0A3871;
}

.btn-desencriptar{
    padding: 3%;
    width: 50%;
    background-color: #ccced6;
    border-radius: 24px;
    color: #0A3871;
    border: transparent;
}

.btn-desencriptar:hover{
    background-color: #0A3871;
    color: white;
}

.mensaje{
    width: 100%;
    font-family: "inter";
    color: #0A3871;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-size:100%; 
    margin-bottom: 10%;
    border: transparent;
    display: flex;
}

.texto-arrojado{
    height: 50%;
    width: 19%;
    border-radius: 37px;
    padding: 3.3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

.no-encontrado{
    font-size: 1.5rem;
    background: white;
    text-align: center;
    color: #343A40;
    width: 100%;
    margin-bottom: 2%;
}

.ingr-text{
    font-size: 1rem;
    background: white;
    text-align: center;
    font-weight: 400;
    color: #495057;
    width: 100%;
}

.btn-copiar{
    height: 60px;
    width: 100%;
    color: #0A3871;
    background-color: #ccced6;
    border-radius: 20px;
    border: transparent;
    margin-bottom: 10%;
}

.btn-copiar:hover{
    background-color: #0A3871;
    color: white;
}

footer{
    display: flex;
    align-self: center;
    height:4.5%
}

.pie-pag{
    width: 100%;
    text-align: center;
    font-size: .75rem;
    font-weight: 600;
    border: none;
    background-color: #ccced6;
    color: #710a2c;
    padding: 10px;
}

